@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/variables";

.app {
        background-image: url('https://static1.squarespace.com/static/5575cdd9e4b0992cf89764bf/573b2d4ea3360c8a5aca1f4d/573b2e8b9f72664e35029d1b/1463496415632/Prosciutto,+wine,+olives,+parmesan+and+olive+oil+on+wooden+table.+Top+view+with+copy+space.jpg?format=1500w');
        background-repeat: no-repeat;
        background-attachment: fixed;
}


