.step{
    margin-left: 200px;
    margin-top: 120px;
    position: relative;   
    animation-name: example;
    animation-duration: 2s;
    color:white;
    
}
h4{
    color: white;
    display: inline;
}
@keyframes example {
    0%   { margin-left: 500px; opacity: 0}
    100% {margin-left: 200px; opacity: 1}
}
@keyframes example2 {
    0%   {  opacity: 0}
    100% { opacity: 1}
}

.button {
  border-radius: 7px;
  background-color: #4fbc5d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
      margin-top: 30px;
    margin-left: 120px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
p input{
  color: white;
}
.skladniki{
  font-size: 18pt;

}
.back{
  position: fixed;
  left: 800px;
  top:150px;
  width:300px;
  height: 390px;
background-color: rgba(165,42,42, 0.7);

  border-radius: 0.5px;
  animation-name: example2;
    animation-duration: 3s;
}

.content{
   left: 700px;
  top:150px;
  padding: 10px;
  color: white;
   opacity: 1;
}
nav ul{height:340px; width:290px;}
nav ul{overflow:hidden; overflow-y:scroll;}



