<header></header>
<div class="photo">
    <img src="./images/{{danie.zdjecieDanie}}" alt="{{danie.nazwaDanie}} zdjęcie">
</div>

<div class='cont'>
    <h1>{{danie.nazwaDanie | uppercase}}</h1>
    <h4>Czas prygotowania : {{danie.czasPrzepis}} min</h4>
    <h4>Typ dania : {{danie.nazwaTyp}}</h4>
    <!--<p>&nbsp;</p>-->


</div>
<div class='skladniki'>
    <ul>
        <h3>Skladniki</h3>
        <li *ngFor="let skladnik of skladniki">
            <div class='skladnikName'>{{skladnik.nazwaProdukt}}</div>
            <div class='skladnikIlosc'> {{skladnik.ilosc}}</div>
            <div class="skladnikCena">{{skladnik.wartosc}}zl</div>
        </li>
        <li>_______________________________</li>
    </ul>
    <h4>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;Cena  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; {{suma}}
        zl</h4>
</div>
<div class='przepis'>
    <h4>Przepis :</h4>
    <p>{{danie.opisPrzepis}}</p>
</div>